:root {
	--bg-colour: #FEF6E8; /* or: #13161C */
	--text: black;
	--pastel-green: #ACD489;
	--pastel-orange: #FFDBA3;
	--pastel-red: #F27B6F;
}

body {
	background-color: var(--bg-colour);
	color: var(--text);
	font-family: sans-serif;
	margin: 5em;
	padding: 0;
	user-select: none;
}

/* Splash Screen */
.logo-splash {
	width: 100%;
  /*height: auto;
	object-fit: cover;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	animation: fadeout 2.5s forwards;
	animation-delay: 1s;
}
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeout {
	from { opacity: 1; background-color: white;}
	to { opacity: 0; background-color: var(--bg-colour);}
}

/* Search box, create button, etc. */
#game-name {
	background-color: transparent;
	border: 1px solid grey;
	color: var(--text);
	font-size: 16px;
	padding: 1em;
	width: 15em;
}
#new-game {
	background-color: transparent;
	border: 1px solid grey;
	color: var(--text);
	cursor: pointer;
	font-size: 16px;
	padding: 1em;
	transition: .3s;
	width: 6em;
}
#new-game:hover {
	background: var(--pastel-orange);
}
#game-list {
	padding: 0;
}

/* Existing project list items */
.game-list-item {
	border: 1px solid grey;
	cursor: pointer;
	font-size: 16px;
	list-style-type: none!important;
	margin-bottom: 1em;
	padding: 1em;
	transition: .3s;
	width: 15em;
}
.game-list-item:hover {
	background: var(--pastel-orange);
}
