body {
  margin: 2.5em;
}

/* ヘッダ | Header */
.header {
  border: 1px solid black;
  color: black;
  padding: 0.5em;
}
.header h1 {
  margin-bottom: 0;
}

/* ナビゲーション | Navigation */
.nav {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: sticky; /* Rest */
  top: 0;
}
.nav li {
  float: left;
}
.nav li a {
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
.nav li a:hover{
  background-color: grey;
  color: white;
}

/* 文章 | Text */
h1 {
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  border-bottom: solid 1px black;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0em;
  margin-top: 1.5em;
  padding: 0.5em 0;
}
h3, h4 {
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0em;
  margin-top: 1.5em;
  padding: 0.5em 0;
}
p {
  font-size: 1.0em;
  line-height: 1.8em;
  margin-bottom: 1.5em;
  text-align: justify;
}
ul {
  line-height: 1.8em;
  margin-left: 0.5em;
}

/* フッター | Footer */
footer {
  text-align: center;
}

/* ページ | Pages */
.page {
  display: none;
}
  .page:target {
    display: block;
}
