body {
	padding: 0;
	margin: 0;
	font-family: Yu Gothic UI;
	user-select: none;
}

/*
 * 分割
 */

/* 上下 */
.vertical-grid-area {
	display: grid;
	height: 100vh;
	grid-template-rows: 75% 25%;
	grid-template-columns: 100%;
}

/* 上段 */
.vertical-grid-area-top {
	grid-row: 1;
	grid-column: 1;
	background: gray;
}

/* 下段 */
.vertical-grid-area-bottom {
	grid-row: 2;
	grid-column: 1;
	background: darkgray;
}

/* 上段の左右 */
.top-horizontal-grid-area {
	display: grid;
	width: 100vw;
	height: 100%;
	grid-template-rows: 100%;
	grid-template-columns: 75% 25%;
}

/* 上段の左 */
.top-horizontal-grid-area-left {
	grid-row: 1;
	grid-column: 1;
	background: white;
}

/* 上段の右 */
.top-horizontal-grid-area-right {
	grid-row: 1;
	grid-column: 2;
	background: gray;
}

/* 下段の左右 */
.bottom-horizontal-grid-area {
	display: grid;
	width: 100vw;
	height: 100%;
	grid-template-rows: 100%;
	grid-template-columns: 25% 75%;
}

/* 下段の左 */
.bottom-horizontal-grid-area-left {
	grid-row: 1;
	grid-column: 1;
	background: darkgray;
}

/* 上段の右 */
.bottom-horizontal-grid-area-right {
	grid-row: 1;
	grid-column: 2;
	background: lightgray;
}

/* 上段の右の上下 */
.top-right-vertical-grid-area {
	display: grid;
	height: 100%;
	grid-template-rows: 40% 60%;
	grid-template-columns: 100%;
}

/* 上段の右の上 */
.top-right-vertical-grid-area-top {
	grid-row: 1;
	grid-column: 1;
	background: white;
}

/* 上段の右の下 */
.top-right-vertical-grid-area-bottom {
	grid-row: 2;
	grid-column: 1;
	background: gray;
}

/*
 * シナリオビュー
 */

/* メインリストのコンテナ */
.scenario-container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* メインリスト */
.scenario-list {
	margin: 0;
	padding: 0;
	padding-inline-start: 0;
}

/* ドラッグ可能なリスト項目 */
.drag-list-item {
	line-height: 3em;
	border: 1px solid #cccccc;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
	list-style-type: none!important;
}

/* 選択中の項目 */
.drag-list-item-sel {
	border: 3px solid black;
}

/* メッセージの項目 */
.drag-list-item-msg {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* セリフの項目 */
.drag-list-item-serif {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @bgの項目 */
.drag-list-item-bg {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

/* @bgmの項目 */
.drag-list-item-bgm {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @seの項目 */
.drag-list-item-se {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @volの項目 */
.drag-list-item-vol {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @chooseの項目 */
.drag-list-item-choose {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @chaの項目 */
.drag-list-item-cha {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @chsの項目 */
.drag-list-item-chs {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @shakeの項目 */
.drag-list-item-shake {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @clickの項目 */
.drag-list-item-click {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @waitの項目 */
.drag-list-item-wait {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @skipの項目 */
.drag-list-item-skip {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @gotoの項目 */
.drag-list-item-goto {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @setの項目 */
.drag-list-item-set {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @ifの項目 */
.drag-list-item-if {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @loadの項目 */
.drag-list-item-load {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @chapterの項目 */
.drag-list-item-chapter {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* @wmsの項目 */
.drag-list-item-wms {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* ラベルの項目 */
.drag-list-item-label {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background: white;
}

/* コメントの項目 */
.drag-list-item-comment {
	font-style: italic;
	color: gray;
	background: white;
}

/* 終了マーカー項目 */
.drag-list-item-end {
	text-decoration: none;
	font-weight: bold;
	color: white;
	background-image: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
}

/* その他の項目(未対応のコマンド) */
.drag-list-item-etc {
	border-left: 10px solid gray;
	padding-left: 10px;
}

/*
 * プロパティ
 */

/* プロパティペイン */
.prop-pane {
	font-size: 12px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	padding: 5px;
	background: lightgray;
	overflow: auto;
	display: none;
}

/* テキストエリア(複数行) */
.prop-textmulti {
	padding: 0;
	width: calc(100% - 10px);
	height: 3em;
	resize: none;
	font-family: inherit;
}

/* テキストエリア(単一行) */
.prop-textsingle {
	width: calc(100% - 10px);
}

/*
 * パレット
 */

.palette-panel {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: auto;
}

.palette-list-holder {
	padding: 0;
	position: relative;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.palette-list-item {
	font-size: 14px;
	color: #2d8fdd;
	border-left: solid 6px #2d8fdd;
	background: #f1f8ff;
	margin-bottom: 3px;
	border-radius: 0 15px 15px 0;
	line-height: 1.0em;
	padding: 0.3em;
	list-style-type: none!important;
}

.palette-list-item-sel {
	font-size: 14px;
	color: #f1f8ff;
	border-left: solid 6px #f1f8ff;
	background: #2d8fdd;
	margin-bottom: 3px;
	border-radius: 0 15px 15px 0;
	line-height: 1.0em;
	padding: 0.3em;
	list-style-type: none!important;
}

/*
 * 左下のサムネイル
 */

.thumbnail-holder {
	width: 100%;
	height: 100%;
	position: relative;
	background: #e0e0e0;
	background-image: linear-gradient(45deg, #9e9e9e 25%, transparent 0),
					  linear-gradient(45deg, transparent 75%, #9E9E9E 0),
					  linear-gradient(45deg, #9e9e9e 25%, transparent 0),
					  linear-gradient(45deg, transparent 75%, #9E9E9E 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px, 15px 15px, 30px 30px;
}

.thumbnail-picture {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}

/*
 * 素材のタブ
 */

.tab-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
}

input[name="tab-btn"] {
	display:none;
}

.tab-area {
	font-size: 0;
	margin: 0 10px;
}

.tab-area label {
	width: 100px;
	height: 30px;
	margin: 0 2px;
	display: inline-block;
	padding: 2px 0;
	color: #999;
	background: #ddd;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	transition: ease 0.2s opacity;
}

.tab-area label:hover {
	opacity: 0.5;
}

.tab-panel-area {
	background: #fff;
	height: calc(100% - 34px);
}

.tab-panel {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
	overflow: auto;
}

/* タブ切り替え */
#tab-palette:checked ~ .tab-area .tab-palette-label {background:#fff; color:#000; }
#tab-palette:checked ~ .tab-panel-area #tab-panel-palette { display:block; }
#tab-txt:checked ~ .tab-area .tab-txt-label {background:#fff; color:#000; }
#tab-txt:checked ~ .tab-panel-area #tab-panel-txt { display:block; }
#tab-bg:checked ~ .tab-area .tab-bg-label {background:#fff; color:#000; }
#tab-bg:checked ~ .tab-panel-area #tab-panel-bg { display:block; }
#tab-ch:checked ~ .tab-area .tab-ch-label {background:#fff; color:#000; }
#tab-ch:checked ~ .tab-panel-area #tab-panel-ch { display:block; }
#tab-bgm:checked ~ .tab-area .tab-bgm-label {background:#fff; color:#000; }
#tab-bgm:checked ~ .tab-panel-area #tab-panel-bgm { display:block; }
#tab-se:checked ~ .tab-area .tab-se-label {background:#fff; color:#000; }
#tab-se:checked ~ .tab-panel-area #tab-panel-se { display:block; }

/*
 * 素材のリスト
 */

.tab-list-holder {
	padding: 0;
	position: relative;
    margin-block-start: 0em;
	margin-block-end: 0em;
}

.tab-list-item {
	color: #2ddd8f;
	background: #f1fff8;
	border: 1px solid #2ddd8f;
	margin-bottom: 3px;
	border-radius: 15px;
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none!important;

	width: 15em;
	display: inline-block;
	text-align: center;
}

.tab-list-item-sel {
	color: #f1fff8;
	background: #2ddd8f;
	margin-bottom: 3px;
	border-radius: 15px;
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none!important;

	width: 15em;
	display: inline-block;
	text-align: center;
}

.dragover {
	border: 4px dash #ccc;
	background: rgba(240, 240, 240, 0.6);
}
